<html>
   <head>
      <title>COMP5423 NATURAL LANGUAGE PROCESSING</title>
   </head>
   <header>
      <h1>
         <a>COMP5423 NATURAL LANGUAGE PROCESSING</a>
      </h1>
      <h2>
         <a>Lab1 Homework: Emotion Classification</a>
      </h2>
      <h3>
         <a>Student Name: Fung Che Hei</a>
      </h3>
      <h3>
         <a>Student ID: 19013111G</a>
      </h3>
   </header>
   <body>
      <form action = "http://localhost:5000/result" method = "POST">
         <p>Please enter an English sentence:  <input type = "text" name = "Emotion Predicted" /></p>
         <p>
            <a>Please click submit to detect emotion!</a>
            <input type = "submit" value = "submit" />
         </p>
      </form>
   </body>
</html>
